.station-container{
    max-width: 60%;
    margin:0 auto;
    margin-bottom:10px;
}
.form-error-text{
    color: red;
}

    .content-container{
        max-width: 50%;
        margin:0 auto;
        padding: 0 $m-size;
    }


.form{
    display:flex;
    flex-direction: column;
    >*{ //target all direct childern of form
margin-bottom:$m-size;
    }
}
.form-error{
    font-style: italic;
}

.text-input{
    border:1px solid #cacccd;
    height:50px;
    font-size:18px;
    font-weight: 300;
    padding:5px;
    border-radius: 7px;
}